.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}
.img3 {
height: 600px;
width: 400px;
background-image: url('../../Imagenes\ y\ logos/login-prof.jpg');
background-size: cover;
background-position: center;
border-radius: 20px 0px 0px 20px;
}

.form3 {
display: grid;
grid-template-columns: 50px repeat(7, 1fr) 50px;
/* grid-template-rows: 30px 1fr 0.5fr 0.6fr 20px 0.5fr 0.6fr 20px 0.5fr 0.6fr 0.5fr 1fr 1fr 1fr 1fr; */
height: 600px;
width: 550px;
background-color: #fff;
border-radius: 0px 20px 20px 0px;
}

.tittle3 {
font-size: 35px;
grid-column: 2/9;
color: #cf8b42;
font-weight: bold;

}

.name {
grid-column: 2/7;
align-self: self-end;
justify-self: flex-start;
margin-bottom: 0;
padding-bottom: 0;
font-weight: bold;
margin-bottom: 3px;
}

.name_input {
grid-column: 2/9;
font-size: 17px;
height: 30px;
justify-content: flex-start;
border-radius: 5px;
border: 2px solid #e5c29e;
background-color: #e5c29e;
}
.name_input:focus {
  outline: none;
  border-color: #cf8b42; /* Cambia "blue" por el color que desees */
  }

.name_error {
  grid-column: 2/7;
  margin: 0;
position: relative;
color: rgb(221, 16, 16);
align-self: flex-start;
align-items: flex-start;
font-weight: bold;
justify-self: flex-start;
font-weight: bold;
}

.email {
grid-column: 2/7;
  align-self: self-end;
justify-self: flex-start;
font-weight: bold;
margin-bottom: 3px;
}
.email_input {
  grid-column: 2/9;
  display: flex;
font-size: 17px;
height: 30px;
justify-content: flex-start;
border-radius: 5px;
border: 2px solid #e5c29e;
background-color: #e5c29e;
}

.email_input:focus {
outline: none;
border-color: #cf8b42; /* Cambia "blue" por el color que desees */
}
.error_email {
  grid-column: 2/8;
margin: 0;
position: relative;
color: rgb(221, 16, 16);
align-self: flex-start;
align-items: flex-start;
font-weight: bold;
justify-self: flex-start;
font-weight: bold;
}

.password {
grid-column: 2/7;
align-self: self-end;
justify-self: flex-start;
font-weight: bold;
}

.password_input {
  grid-column: 2/9;
  display: flex;
font-size: 17px;
height: 30px;
justify-content: flex-start;
border-radius: 5px;
border: 2px solid #e5c29e;
background-color: #e5c29e;
}

.password_input:focus {
outline: none;
border-color: #cf8b42; /* Cambia "blue" por el color que desees */
}
.error {
margin: 0;
grid-row: 9/10;
grid-column: 2/7;
position: relative;
color: rgb(221, 16, 16);
align-self: flex-start;
align-items: flex-start;
font-weight: bold;
justify-self: flex-start;
font-weight: bold;
}


.error_password {
margin: 0;
grid-row: 11/12;
grid-column: 2/8;
position: relative;
color: rgb(221, 16, 16);
align-self: flex-start;
align-items: flex-start;
font-weight: bold;
justify-self: flex-start;
font-weight: bold;
}

.description {
  grid-column: 2/7;
  align-self: self-end;
  justify-self: flex-start;
  font-weight: bold;
  }
  
  .description_input {
  grid-column: 2/9;
  font-size: 17px;
  height: 30px;
  justify-content: flex-start;
  border-radius: 5px;
  border: 2px solid #e5c29e;
  background-color: #e5c29e;
  }
  .description_input:focus {
    outline: none;
    border-color: #cf8b42; /* Cambia "blue" por el color que desees */
    }

    .area {
      grid-column: 2/7;
      align-self: self-end;
      justify-self: flex-start;
      font-weight: bold;
      }
      
      .area_input {
      grid-column: 2/9;
      font-size: 17px;
      height: 30px;
      justify-content: flex-start;
      border-radius: 5px;
      border: 2px solid #e5c29e;
      background-color: #e5c29e;
      }
      .area_input:focus {
        outline: none;
        border-color: #cf8b42; /* Cambia "blue" por el color que desees */
        }


.login {
font-size: 20px;
border: none;
background-color: #cf8b42;
color: #fff;
grid-column: 3/8;
height: 45px;
align-self: center;
border-radius: 20px;
margin-top: 20px;
margin-bottom: 20px;
width: 200px;
 margin-left: -65px; 
 transition: transform 0.2s ease-in-out;
 cursor: pointer;

}

.login:hover {
  transform: scale(1.1);
  color:black;
  background-color: #9f6b33;
}

.login2 {
  font-size: 20px;
  border: none;
  background-color: #cf8b42;
  color: #fff;
  grid-column: 3/8;
  height: 45px;
  align-self: center;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  /* margin-right: -500px; */
  margin-left: -240px;
  transition: transform 0.2s ease-in-out;
 cursor: pointer;
  }

  .login2:hover {
  transform: scale(1.1);
  color:black;
  background-color: #9f6b33;
}