.queryPage {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  font-family: "Playfair Display", serif;
  color: white;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0));
}
.queryPageDark {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
}

.navv{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60));
}
.queryDetailContainer {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  border-radius: 1rem;
  width: 50rem;
  height: 30rem;
  margin-top: -10rem;
  border-radius: 2rem;
  /* margin-left: 16rem; */
}

.backContainer {
  display: flex;
  /* border: 1px solid blue; */
  align-items: center;
  justify-content: center;
  position: absolute;
left: 0px;
top: 20%
}

.back {
  border-radius: 0 1rem 1rem 0;
  background-color: #183a3b;
  text-decoration: none;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 2.5rem;
  margin-left: 0px;
}


.header-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.turn-detail-tittle {
  margin-left: 11rem;
  color: white;
  
  font-size: 2.5rem;
}

.data-turn-container {
  margin-left: 12.5rem;
  width: 50%;
  text-align: start;
}

.data-turn-text {
  border-bottom: 1px solid white;
}

.data-turn-text-info {
  margin-left: 3rem;
}

.lineDni {
  margin-left: 3.8rem;
}

.lineDate {
  margin-left: 3.4rem;
}

.buttonDelete {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}
.buttonDelete:hover {
  background-color: #d32f2f;

}

.buttonDelete:active {
  box-shadow: inset -1px -1px #fff, inset 1px 1px #292929,
    inset -2px -2px #ffffff, inset 2px 2px rgb(158, 158, 158);
}
