.queryPage{
    margin: 0;
    min-height: 41.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.queryPageDark{
    margin: 0;
    min-height: 41.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
}


.queryDetailContainer{
    background-color: #F0E9FF;
    width: 50rem;
    height: 30rem;
    border: 3px solid #0051EE;
    border-radius: 2rem;
    margin-left: 16rem;
}

.backContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 32rem;
}

.back{
    border-radius: 0 1rem 1rem 0;
    background-color: #0051EE;
    text-decoration: none;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 2.5rem;
    margin-left: 0px;
}

.img-turn{
    width: 6rem;
    margin-left: 4rem;
    margin-top: 2rem;
}

.header-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.turn-detail-tittle{
    margin-left: 10rem;
    color: #0051EE;
    font-family: 'Kaushan Script', cursive;
    font-size: 2.5rem;
}

.data-turn-container{
    margin-left: 12.5rem;
    width: 50%;
    text-align: start;
}

.data-turn-text{
    border-bottom: 1px solid #0051EE;
}

.data-turn-text-info{
    margin-left: 3rem;
}

.lineDni{
    margin-left: 3.8rem;
}

.lineDate{
    margin-left: 3.4rem;
}
