@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

.landContainer, .section5, .section3, .section2, .section4, .section6 {
    width: 100%;
  }
.landContainer, .section5{
    background-image:url("../../Imagenes/calendar.jpg");
    background-position: center; 
    background-size: cover;
    height: 100dvh;
    min-height: 42.5rem;
    display: flex;
    align-items: center;
    position: relative;
}
.section3{
    background-image:url("../../Imagenes/calendario2.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 42.5rem;
    display: flex;
    align-items: center;
    padding-bottom: 100px;
    position: relative;
    flex-direction: column;
    justify-content: center;
}
  .section2, .section4, .section6 {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    min-height: 42.5rem;
  }

.textContainer{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius:  0 4rem 4rem 0; 
    margin-top: 6%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text{
    width: 80%;
    margin-bottom: 3rem;
}

.textTitle{
    color: white;
    font-size: 4.5rem;
    margin-top: 0vh;
}
.cursiva {
    font-family: 'Shadows Into Light', cursive;
    font-size: 5rem;
    color: #cf8b42;
    text-decoration: none;
    position: relative;
  }
  
  .cursiva::after {
    content: "";
    position: absolute;
    bottom: -0.1rem; 
    left: 0;
    right: 0;
    border-bottom: 0.4rem solid white; 
    border-radius: 50%; 
  }

.textPa{
    color: white;
    font-family:'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

.start{
    /* background-color: #0051EE; */
    width: 12rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    text-decoration: none;
    border-radius: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    border: 3px solid #ffffff;
    margin-bottom: 2rem;
}

.start:hover{
    background-color: aliceblue;
    color: #cf8b42;
}

.textConteiner2 {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text2{
    color: #000000;
    width: 90%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
  }

.vistas{
    background-image: url("../../Imagenes/landing/vistas.png");
    background-size: cover;
    width: 100%;
    height: 60rem;
    margin: 0 auto;
    margin-top: -15rem;
}

.textConteiner3{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    margin-top: -30rem;
}

.text3{
    color: #000000;
    width: 90%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
}

.iconContainer{
    color: #cf8b42;
    width: 80%;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
}

strong{
    font-weight: bold;
}