.container {
    background-color: #264c4d;
    border-radius: 20px;
    box-sizing: border-box;
    min-height: 100vh;
    padding: 20px;
    width: 100vh;
    margin: 0 auto;
    margin-top: 3vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .tittle {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .label {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
  }
  
  .nombres{
    background-color: #303245;
    border:solid #303245;
    border-radius: 12px;
    width: 98%;
    margin-top: 20px;
  }
  
  .input {
    height: 40px;
    width: 90%;
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    outline: 0;
    padding: 4px 10px 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .button {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .button:hover {
    background-color: #87878a;
  }
  
  .googlebtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #757575;
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    width: 240px;
    margin: 0 auto;
    cursor: pointer;
  }
  
  .googlebtn img {
    height: 24px;
    margin-right: 10px;
  }
  