.homeContainer{
    min-height: 41rem;
 padding-bottom: 100px;
}

.homeContainerDark{
    min-height: 41rem;
    background-color: black;
}

.filtersContainer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}