.mainContainer {
    min-height: 100vh;
}

.back{
    border-radius: 0 1rem 1rem 0;
    background-color: #0051EE;
    text-decoration: none;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 2.5rem;
    margin-left: 0px;

}