.pageContainer{
    height: 86vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.succesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(40, 151, 32);
    color: aliceblue;
    width: 30rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text{
    margin-right: 2rem;

}

.textCont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    color: aliceblue;
    background-color: #0051EE;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    width: 15rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border: 2px solid #0051EE;
    margin-bottom: 3rem;
}

.link:hover{
    background-color: aliceblue;
    color: #0051EE;
    transition: 0.5s;
}

.quejaContainer{
    background-color: rgba(0, 0, 0, 0.678);
    color: white;
    padding: 0 0.5rem;
    margin-top: 1rem;
    border-radius: 1rem;
    border: 3px solid white;

}

.queja{
    font-size: 0.85rem;
    font-family: Arial, Helvetica, sans-serif;
}