.formClientPage{
    margin: 0;
    min-height: 41.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.formClientContainer{
    background-color: #F0E9FF;
    width: 50rem;
    height: 30rem;
    border: 3px solid #0051EE;
    border-radius: 2rem;
    margin-left: 16rem;
}