.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.img2 {
height: 600px;
width: 400px;
background-image: url('../../Imagenes/agenda-register.jpg');
background-size: cover;
background-position: center;
border-radius: 20px 0px 0px 20px;
}

.form2 {
display: grid;
grid-template-columns: 50px repeat(7, 1fr) 50px;
grid-template-rows: 30px 1fr 0.5fr 0.6fr 20px 0.5fr 0.6fr 20px 0.5fr 0.6fr 0.5fr 1fr 1fr 1fr 1fr;
height: 600px;
width: 550px;
background-color: #fff;

border-radius: 0px 20px 20px 0px;
}

.tittle2 {
font-size: 35px;
grid-row: 2/3;
grid-column: 2/9;
color: #cf8b42;
font-weight: bold;
margin-top: -20px;
}

.name {
grid-column: 2/7;
grid-row: 3/4;
align-self: self-end;
justify-self: flex-start;
padding-bottom: 0;
font-weight: bold;
margin-bottom: 3px;
}

.name_input {
grid-column: 2/9;
grid-row: 4/5;
font-size: 17px;
height: 30px;
justify-content: flex-start;
border-radius: 5px;
border: 2px solid #e5c29e;
background-color: #e5c29e;
}
.name_input:focus {
  outline: none;
  border-color: #cf8b42; /* Cambia "blue" por el color que desees */
  }

.name_error {
  grid-column: 2/7;
  grid-row: 5/6;
  margin: 0;
position: relative;
color: rgb(221, 16, 16);
align-self: flex-start;
align-items: flex-start;
font-weight: bold;
justify-self: flex-start;
font-weight: bold;
}

.email {
grid-row: 6/7;
grid-column: 2/7;
  align-self: self-end;
justify-self: flex-start;
margin-bottom: 0;
padding-bottom: 0;
font-weight: bold;
margin-bottom: 3px;
}
.email_input {
  grid-row: 7/8;
  grid-column: 2/9;
  display: flex;
font-size: 17px;
height: 30px;
justify-content: flex-start;
border-radius: 5px;
border: 2px solid #e5c29e;
background-color: #e5c29e;
}

.email_input:focus {
outline: none;
border-color: #cf8b42; /* Cambia "blue" por el color que desees */
}
.error_email {
  grid-row: 8/9;
  grid-column: 2/8;
margin: 0;
position: relative;
color: rgb(221, 16, 16);
align-self: flex-start;
align-items: flex-start;
font-weight: bold;
justify-self: flex-start;
font-weight: bold;
}

.password {
grid-row: 9/10;
grid-column: 2/7;
align-self: self-end;
justify-self: flex-start;
font-weight: bold;
margin-bottom: 3px;

}

.password_input {
font-size: 17px;
grid-row: 10/11;
grid-column: 2/9;
height: 30px;
justify-content: flex-start;
border-radius: 5px;
border: 2px solid #e5c29e;
background-color: #e5c29e;
}

.password_input:focus {
outline: none;
border-color: #cf8b42; /* Cambia "blue" por el color que desees */
}
.error {
margin: 0;
grid-row: 9/10;
grid-column: 2/7;
position: relative;
color: rgb(221, 16, 16);
align-self: flex-start;
align-items: flex-start;
font-weight: bold;
justify-self: flex-start;
font-weight: bold;
}


.error_password {
margin: 0;
grid-row: 11/12;
grid-column: 2/8;
position: relative;
color: rgb(221, 16, 16);
align-self: flex-start;
align-items: flex-start;
font-weight: bold;
justify-self: flex-start;
font-weight: bold;
}
.login {
font-size: 20px;
border: none;
background-color: #cf8b42;
color: #fff;
grid-row: 12/13;
grid-column: 3/8;
height: 45px;
align-self: center;
border-radius: 20px;
cursor: pointer;
}
.o {
margin: 0;
grid-row: 13/14;
grid-column: 3/8;
font-weight: bold;
align-self: center;
}




.google {
grid-row: 14/15;
grid-column: 3/8;
align-self: center;
display: flex;
align-items: center;
justify-content: center;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 5px;
color: #303245;
font-size: 16px;
font-weight: 500;
height: 45px;
width: 240px;
margin: 0 auto;
cursor: pointer;
}
.google img {
height: 24px;
margin-right: 10px;
}

.register {
grid-row: 15/16;
grid-column: 4/7;
}

.register_items {
display: flex;
flex-direction: row;
justify-content: flex-start;
flex-wrap: wrap;
}
.text {
font-size: 12.5px;
/* grid-row: 9/10;
grid-column: 4/6; */
width: 50%;
}

.signUp {
/* grid-row: 9/10;
grid-column: 6/7; */
font-size: 15px;

text-decoration: none;
color: #cf8b42;
width: 50%;
height: 20px;
align-self: center;
margin-top: -20px;
}