.card {
  display: flex;
  border-bottom: 1px solid rgb(82, 82, 82);
  width: 100%;
  height: 7vh;
  text-decoration: none;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-color: #80808065;
  opacity: 0.8;
  cursor: not-allowed;
}
.btnrecuperar {
  background-color: rgb(11, 186, 49);
  color: #000000;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
  height: 30px;
}

.btnrecuperar:hover {
  background-color: rgb(7, 104, 28);
  color: #fcfcfc;
}

.btnborrar {
  opacity: 1;
  border-radius: 50px;
  border: none;
  background-color: #ff0000;
  color: white;
  height: 30px;
  width: 30px;
  cursor: pointer;
  margin-bottom: 20px;
}
.btnborrar:hover {
  background-color: #ff0000;
  color: black;
}

.nameLink {
  text-decoration: none;
  width: 100%;
  font-size: 2rem;
}

.name {
  display: flex;
  justify-content: center;
  width: 30%;
  /* background-color: #CFB8FF; */
  /* height: 5.6rem; */
  align-items: center;
  /* border-radius: 1rem 0 0 1rem ; */
  /* border: 3px solid #73ee00; */
  border-right: 1px solid rgba(94, 94, 94, 0.479);
}

.info {
  width: 70%;
  height: 5.6rem;
  /* background-color: #F0E9FF; */
  border-radius: 0 1rem 1rem 0;
  /* border-bottom: 3px solid #0051EE;
      border-right: 3px solid #0051EE;
      border-top: 3px solid #0051EE; */
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
