.homeContainer,
.homeContainerDark {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  padding-bottom: 100px;
  
}

.homeContainer {
 background-color: white; 
 font-family: "Playfair Display", serif;
}

.homeContainerDark {
    background-color: #18122B;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.filtersAndButtons {
  display: flex;
  /* background-color: #2b2049e1; */
  background-color: #2C3333;
  width: 19%;
  /* border-radius: 20px; */
}
.header {
 /* background-color: #7ba199;*/
 font-family: "Playfair Display", serif;
}
