.homeContainer,
.homeContainerDark {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  padding-bottom: 100px;
  color: white;
}

.nav{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60));
}
.homeContainer {
 background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0));
 
}

.homeContainerDark {
    background-color: #18122B;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.filtersAndButtons {
  display: flex;
  /* background-color: #2b2049e1; */
 border-right: solid 3px white;
  width: 19%;
  /* border-radius: 20px; */
}

