.homeContainer,
.homeContainerDark {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  padding-bottom: 100px;
}

.homeContainer {

  background-color: #ffffff27;

}

.homeContainerDark {
    background-color: #18122B;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.filtersAndButtons {
  display: flex;
  /* background-color: #2b2049e1; */
  background-color: #363636;
  width: 19%;
  /* border-radius: 20px; */
}
.header {
  background-color: #8ea3877e;
}
