.hide {
  display: none;
}

.error{
  color: red;
  margin-bottom: 5px;
}
.divnuevo{
display: flex;
flex-direction: row;
    align-items: center;
}
.img {
  height: 780px;
  width: 550px;
  background-image: url('../../Imagenes/foto-form.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 15px 0px 0px 15px;
  margin-left: 15rem;
  margin-right: -18rem;
}
.container {
  background-color: #fff;
  border-radius: 0px 20px 20px 0px;
  box-sizing: border-box;
  height: 95vh;
  padding: 20px;
  width: 75vh;
  margin: 0 auto;
  margin-top: 3vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.tittle {
  color: #cf8b42;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}

.label {
  color: #87878a;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
}

.nombres{
  background-color: #e5c29e;
  border:solid #e5c29e;
  border-radius: 12px;
  width: 98%;
  margin-top: 20px;
  color: black;
}

.input {
  height: 40px;
  width: 100%;
  background-color: #e5c29e;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: black;
  font-size: 18px;
  outline: 0;
  padding: 4px 10px 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button {
  background-color: #cf8b42;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.button:hover {
  background-color: #87878a;
}