.filterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;

  }
  .turnosCancelados {
    height: 45px;
    width: 100%;
    background-color: rgba(183, 9, 9, 0.74);
    color: aliceblue;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .copybtn {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    background-color: #3e8e41;
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
  }
  
  .copybtn:hover {
    background-color: #4caf50;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); 
  }

  .turnosCancelados:hover{
    background-color: rgb(218, 12, 12);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); 

  }
  
  .ButtonSearch {
    background-color: #0051EE;
    border-radius: 0.5rem;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
  }
  
  .InputSearch {
    border-radius: 0.5rem;
    border: 1px solid #0051EE;
    font-size: 1rem;
    margin-left: 0.5rem;
    padding: 0.5rem;
    width: 12rem;
  }
  
  select {
    border-radius: 0.5rem;
    border: 1px solid #0051EE;
    font-size: 1rem;
    margin-left: 0.5rem;
    padding: 0.5rem;
    width: 12rem;
    margin-top: 10px;
  }
  
  .input {
    border-radius: 0.5rem;
    border: 1px solid #0051EE;
    font-size: 1rem;
    margin-left: 0.5rem;
    padding: 0.5rem;
    width: 11rem;
    margin-top: 10px;
  }

  .inputReset{
    border-radius: 0.5rem;
    border: 1px solid #0051EE;
    font-size: 1rem;
    margin-left: 0.5rem;
    padding: 0.5rem;
    width: 5rem;
    margin-top: 10px;
  }
