.profContainer {
    display: flex;
  
    align-items: center;
    justify-content: right;
    position: absolute;
    right: 0px;
    top: 80px;
  }
  .nameLinkProf div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nameLinkProf iconify-icon {
    margin-left: 0rem;
  }
  .nameLinkProf {
    text-decoration: none;
    color: #3E54AC;
  }
  
  .textProf {
    border-radius: 1rem 0 0 1rem; 
    background-color: #3E54AC;
    text-decoration: none;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 3.75rem;
    margin-right: 0px; 
  }
  