.navbarContainer{
    background-color: #E7E7E7;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    border-bottom: 2px solid #0051EE;
}

.buttons{
    display: flex;
    align-items: center;
    margin-right: 2rem;
}
.logo{
    display: flex;
    align-items: center;
    color: #0051EE;
    margin-left: 1rem;
}
.login{
    text-decoration: none;
    color: #0051EE;
    width: 4.5rem;
    margin-right: 3rem;
    border: 2px solid #0051EE;
    padding: 0.2rem;
    border-radius: 0.6rem;
    font-family: 'Poppins', sans-serif;
}

.signUp{
    text-decoration: none;
    color: #0051EE;
    width: 4.5rem;
    margin-right: 3rem;
    border: 2px solid #0051EE;
    padding: 0.2rem;
    border-radius: 0.6rem;
    font-family: 'Poppins', sans-serif;
}

.login:hover{
    background-color: #0051EE;
    color: aliceblue;
}

.signUp:hover{
    background-color: #0051EE;
    color: aliceblue;
}